<video #localVideo playsinline autoplay muted></video>
<video #remoteVideo playsinline autoplay></video>
<div>
  <button #startButton [disabled]="startButtonDisabled" (click)="start()">Start</button>
  <button #callButton [disabled]="callButtonDisabled">Call</button>
  <button #hangupButton [disabled]="hangupButtonDisabled" (click)="hangup()">Hang Up</button>
  <br>
  <label>Login Name:</label>
  <input [(ngModel)]="name" type="text" name="name">
  <br>
  <button #loginButton (click)="loginUser()">Login</button>
  <br>
  <label>Connect To:</label>
  <input [(ngModel)]="connectUser" type="text" name="name">
  <br>
  <button #connectButton (click)="connectToUser()">connect to</button>
</div>